body{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
button{
    font-weight: bold;
    height: auto;
    margin-bottom: 5%;
    width: 20%;
}
h1{
    font-size: 3vw;
}
section{
    align-items: center;
    background-color: aquamarine;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 15%;
    width: 100%;
}

#displayAuthor{
    font-size: 1.5vw;
    font-style: italic;
    margin-bottom:5%;
}

#displayQuote{
    font-size: 2vw;
    margin-top:10%;
}